/*лавная форма*/
.did{
    background-color: #ebedf0;
    color: #fffefe;
    padding: 3.9% 37.5% ;
    margin: 3.8% 0% 0%;
    position: absolute;
    width: 25%;


}
/*форма для параметров*/
.diy{
    background-color: #f8f7f7;

    text-align: left;

    color: black;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin: 30% -100%;
    width: 130%;
    padding: 10% 12% ;

}
/*название личный кабинет*/
.h4 {

    width: 100%;
    margin: -5% 0% -2%;
    line-height: 160%;
    font-size:130%;
    font-weight: bold;
    color: #fffefe;
    text-shadow: 0 2px #a38e8e;
    border-radius:10px;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    text-align: center;

}
/*текст Информация*/
.h9{
    width: 100%;
    margin: -10% -25% -2%;
    line-height: 160%;
    font-size:130%;
    font-weight: bold;
    color: #a3a3a3;
    text-shadow: 0 2px #000000;
    position: absolute;
    top: 37%;

}