
/*Регистрация*/
.button15{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    font-weight: bold;

    margin: 10% 15%;
    font-size: 0.7em;
    width: 70%;
    opacity: 1;
    padding: 3%;

    border: 1px solid;
    border-radius: 5px;

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1%;
    position: relative;





    text-align: center;



    overflow: hidden;
    line-height: 20px;
    color: #fffefe;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;

    transition: box-shadow 0.3s, transform 0.3s;

}
.button15:hover,
.button15:active,
.button15:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    color: #FFF;
}
.button15:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.button15:hover:before,
.button15:active:before,
.button15:focus:before {
    left: 100%;
}





/*ячейки*/
.input1 {
    width: 90%;
    padding: 5% ;
    margin: 9% 0 -20% ;
    background: #ffffff;
    border-radius:15px;
    text-align: center;
    font-size: 0.7em;

}

/*Форма для кнопки регистрации и ячейк, и названия регистрации*/
.dir {
    background-color: #f8f7f7;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin: -2% 0%;
    width: 100%;
    padding: 10% 12% ;
    font-size:150%;
}
/*главная форма*/
.div{
    background-color: #ebedf0;
    color: #fffefe;
    padding: 3% 37.5% ;
    margin: 2% 0% 0%;
    position: absolute;
    width: 25%;



}






/*Название регистрация*/
.h3 {
    width: 100%;
    margin: -5% 0% -2%;
    line-height: 160%;
    font-size:130%;
    font-weight: bold;
    color: #fffefe;
    text-align: center;
    text-shadow: 0 2px #a38e8e;
    border-radius:10px;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;


}



/*ошибка восклицательный знак*/
.span {
    background-color: #be4b49;
    border: 0;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
    display: block;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    background-position: 0 3%;
    border-radius:300px;
    margin: 8% 46% ;
    margin-block-start: 8%;
    margin-block-end: -6%;
    width: 10%;

}

/*ошибка текст пароли не совпадают*/
.spar {
    background-color: #f8f7f7;
    border: 0;
    border-radius: 2px;
    color: #ba0e0e;
    display: block;
    font-size: 0.6em;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    text-align: center;
    font-weight: bold;
    background-position: 0 -43%;
    margin: 0% 17% ;
    margin-block-start: 5%;
    margin-block-end: -6%;
    width: 65%;

}
