
.button {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    margin: 40px 10px;
    font-size: 0.6em;
    width: 45%;
    opacity: 1;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);


}

.button1{
    border: none;
    cursor: pointer;
    padding: 0px 20px ;
    margin: 0px 0px;
    font-size: 0.6em;
    border-radius:20px;
    text-align: center;
    background-color: #f8f7f7;;
    color: black;

}
.input {
    width: 90%;
    padding: 20px;
    margin: 35px 0 -10px 0;
    background: #ffffff;
    border-radius:15px;
    text-align: center;
    font-size: 20px;

}


.dip {
    background-color: #f8f7f7;
    color: #ffffff;
    padding: 20px 100px ;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin: -20px 0px;


}
.dia{
    background-color: #ebedf0;
    color: #fffefe;
    padding: 40px 612px ;
    margin: 0px 0px 0px;
    position: absolute;
    top: 220px;

}
.p{
    border: none;
    padding: 10px 0px;
    margin: -10px -70px;
    font-size: 0.6em;
    text-align: center;
    color: black;



}


.button2{
    background-color: #f8f7f7;
    color: #558cb7;
    margin: 0px -70px;
    font-size: 0.6em;
    border: none;
    cursor: pointer;
    width: 240%;
    opacity: 1;
    border-radius:0px;
    padding: 0px 35px;




}



.h1 {
    margin: 10px 0px -10px;
    line-height: 85px;
    font-size:50px;
    font-weight: bold;
    color: #fffefe;
    text-align: center;
    text-shadow: 0 3px #a38e8e;
    border-radius:10px;

    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;


}
.die{
    background-color: #f8f7f7;
    margin: 35px 0px ;

    text-align: center;
    background-color: #f8f7f7;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 10px 250px;
}

