.header {
    background: #fdffff;
    grid-area: h;
    overflow:hidden;/*для убирания скролл*/
    margin: 0% 0% 0%;
    padding: 0% 0%;


}
.header_img{
    margin: 1% 0.5% -5%;
    width: 14% ;
}
/*текст*/
.h7{

    margin: 0.7% 15% 0% ;
    line-height: 100%;
    font-size:100%;
    color: #131212;
    text-align: left;
    text-shadow: 0 0px #2a2727;
    background-color: #ffffff;



}




/*расположение выход из системы*/
.button5 {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 10px ;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 10%;
    text-shadow: 0 1% 2% rgba(0,0,0,.5);
    margin: -2.5% 88%;
    font-size: 0.8em;
    width: auto;
    opacity: 1;
    text-align: center;
    padding: 0.3% 0.5%;
    position: absolute;
    top: 20%;



}
/*выход из системы*/
.button9{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1%;
    position: relative;
    text-shadow: 0 1% 2% rgba(0,0,0,.5);
    margin: 5% 0%;
    font-size: 0.9em;
    width: 90%;
    opacity: 1;
    padding: 2% 0%;
    text-align: center;


}
/*войти*/
.button6{

    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 2px solid;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-decoration: none;
    margin: 0% 90%;
    font-size: 1em;
    width: 7%;
    opacity: 1;
    padding: 0.8% 0%;
    text-align: center;
    position: absolute;
    top: 17%;
}
/*Зарегистрироваться*/
.button14{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 2px solid;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-decoration: none;
    margin: -2% 74.5%;
    font-size: 1em;
    width: 15%;
    opacity: 1;
    padding: 0.8% 0%;
    text-align: center;
    position: absolute;
    top: 21.3%;



}
