/*Главная форма*/
.dik{
    background-color: #ebedf0;
    color: #fffefe;
    padding: 10.4% 37.5% ;
    margin: 2% 0% 0%;
    position: absolute;
    width: 25% ;
}
/*форма текста*/
.dil{
    background-color: #f8f7f7;
    color: #ffffff;
    padding: 25% 12% ;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin: 3% -35%;
    width: 172%;
}
/*Текст Пожалуйста, проверьте вашу электроную почту */
.h6 {
    border: none;
    cursor: pointer;
    padding: 0% 0% ;
    margin: -4% -2%;
    font-size: 1em;
    border-radius:20px;
    text-align: center;
    color: black;
    position: absolute;
    width: 40%;
}
/*текст Мы отправили письмо на Ваш емейл*/
.h7{border: none;
    cursor: pointer;
    padding: 0% 0% ;
    margin: -1.5% -1.5%;
    font-size: 0.7em;
    border-radius:20px;
    text-align: center;
    color: black;
    position: absolute;
    width: 40%;

}/*текст Пожалуйста, откройте письмо и перейдите по ссылке для восстановления пароля*/
.h8{border: none;
    cursor: pointer;
    padding: 0% 0% ;
    margin: % -1.5%;
    font-size: 0.8em;
    border-radius:20px;
    text-align: center;
    color: black;
    position: absolute;
    width: 40%;

}